version: "3.9"

services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file: ./.env
    ports:
      - "5434:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file: ./.env
    ports:
      - "${BACKEND_PORT}:8000"
    volumes:
      - media_data:${MEDIA_ROOT}
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    restart: unless-stopped
    env_file: ./.env
    environment:
      - PORT=3000
    ports:
      - "${FRONTEND_PORT}:3000"
    depends_on:
      - backend

volumes:
  db_data:
  media_data:
